*{
  box-sizing: border-box;
  /* 如果不加的話，在下方的 grid-template-columns: 100px; 會需要加上 border 的寬度而改成 grid-template-columns: 104px */
}

.item {
  background-color: #163a59;
  font-size: 20px;
  color:#FF6600;
  text-align: center;
  border: 2px solid;
  width: 100px;
  height: 80px;
  line-height: 80px;

}
.wrapper {
  display: grid;
  grid-template-columns: 100px;
  grid-gap: 6px;
}

@media screen and (min-width: 200px){
  .wrapper {
    grid-template-columns: repeat(2, 100px);
  }
}

@media screen and (min-width: 500px){
  .wrapper {
    grid-template-columns: repeat(3, 100px);
  }
}