.item {
  background-color: #163a59;
  font-size: 20px;
  color: #ff6600;
  text-align: center;
  border: 2px solid;
  width: 100px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100px;
}

@media screen and (min-width: 200px) {
  .wrapper {
    /* 
      100px - item width
      6px - spacing
     */
    width: calc(100px * 2 + 6px);
  }
}

@media screen and (min-width: 500px) {
  .wrapper {
    /* 
      100px - item width
      6px - spacing
     */
    width: calc(100px * 3 + 6px * 2);
  }
}
