body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 600px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
}

.card-1 {
  display: flex;
  width: 500px;
  height: 500px;
  background: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 {
  width: 400px;
  height: 400px;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 因為 footer 設定 absolute，但題目上的上層都是 static 的 div，沒有可以被定位的 div，因此會往上找到 body 定位，若要讓此題跟題目需求一樣，只需要在此加上 relative 的定位來讓 footer 以 card-2 作為參考點*/
  position: relative;
}

.footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #f00;
}