html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #333;
}

* {
  box-sizing: border-box;
}


.main {
  width: 300px;
  height: 500px;
  background: linear-gradient(161.98deg, #07E3A1 13.65%, rgba(11, 111, 218, 0) 87.85%);
  margin: 100px auto;
  border-radius: 20px;
  position: relative;
}

.bernard-img {
  width: 128px;
  height: 156px;
  background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png);
  background-size: cover;
  background-position: center center;
  border-radius: 64px;
  /* position */
  position: absolute;
  top: 94px;
  left: 86px;
}

.notify{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  /* position */
  position: absolute;
  right: 17px;
  /* 修正建議: top 應該是 18 */
  top: 17px;
}
.notify-point{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF0000;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  /* position */
  position: absolute;
  right: 0;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 300px;
  border-radius: 20px;
  /* 修正建議: padding top 應該是 68 */
  padding-top: 60px;
  /* position */
  position: absolute;
  bottom: 0;
  
}

/* 修正建議: 既然定義了 name 跟 title 這兩個 class，就建議優先使用，一方面讓這兩個 class 具有實質意義，一方面也可以避免頁面中有其他元素需要使用 h1 h2 時互相影響格式 */
/* 修正建議: 字形格式也需要相同，套用時需標註 sans-serif 才會呈現和設計稿相同的無襯線體，這部分設定 figma 上面沒有寫，建議作業說明中加入引導。*/
h1{
  font-size: 30px;
  margin: 0 0 7px 0;
  font-weight: 400;
  
}

h2{
  /* 修正建議: margin bottom 和 introduce 的 margin top 加起來應該是 20 px */
  margin: 0 0 16px 0;
  /* 修正建議: padding 應該是 3 8 3 10 */
  padding: 3px 8px;
  background: black;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
}

.introduce{
  /* 修正建議: 左邊距應該是 34 px */
  margin: 10px 35px 38px 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}