/* 載入字型 */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

/* 移除瀏覽器預設值及設定共用樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior:smooth;
}
body {
  background-color: #fff;
  font-family: "PT Sans", sans-serif; /* 設定字型 */
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 拿掉底線 */
}

/* 設定區塊寬度一致並置中 */
.container {
  width: 90%;
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 細節 CSS 設定 */
.main-container{
  max-width: 1595px;
  margin: 0 auto;
}
/* Nav Bar */
header {
  position: fixed;
  z-index: 999;
  display: grid;
  width: 100%;
  height: 60px;
  text-align: center;
  align-items: center;
  background-color:rgba(255,255,255,0.95);

}
.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: top;
  align-items: center;
  
}

.navbar-brand {
  grid-column: 2 / 3;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.navbar-brand-img {
  height: 2.5rem;
  margin-right: 1rem;
}

.navbar-brand-text {
  font-size: 1.2rem;
  margin: 3px 0;
  font-weight: 700;
}

.navbar-brand-text span {
  margin: auto 3px;
}
.navbar-tools {
  grid-column: 3/4;
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.nav-list {
  transform: scale(1, 0);
  width: 100%;
  padding: 8pxm;
  padding-top: 0;
  background-color:rgba(255,255,255,0.95);

  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;  
}


.nav-item {
  width: 100%;
  padding: 8px 28px;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-tools i {
  font-size: 1.5rem;
  margin: 8px;
}

.navbar-tools .search-btn {
  position: fixed;
  left: 0;
  margin-left: 68px;
}

/* navbar hamburger */
.navbar-toggle:checked ~ .nav-list {
  transform: scale(1, 1);
  transform-origin: top;
  transition: transform 0.2s ease-out;
}

.navbar-toggle:checked ~ * .nav-item {
  transition: opacity 0.2s ease-out 0.15s;
  opacity: 0.7;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-toggle {
  position: absolute;
  top: 0;
  display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #000;
}

.hamburger {
  grid-column: 1/2;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: "";
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}


/* select wrapper */
.select-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#select {
  padding: 96px 0 48px 0;
}
#select h2 {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
}

.select-wrapper select {
  font-size: 0.8rem;
  width: 42%;
  padding: 8px;
  margin: 6px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
}

/* Product Wrapper */
.product-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
}

/*  For each product card */
.card {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.product-info {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-title, .product-price-wrapper{
  font-size: 0.9rem;
  color: #2B2B2B;
}

.product-price-wrapper{
  display: flex;
  justify-content: center;
}
.product-price-sold-out{
  text-decoration: line-through;
  margin-left: 5px;
}

 .product-price {
  font-weight: 700;
  color: #2b2b2b;
}



.card .heart-icon {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  background: white;
  border-radius: 50px;
  width: 32px;
  height: 32px;
}

.card i {
  font-size: 1.2rem;
}

/* product img area */
.prodcut-img {
  position: relative;
}
.real-img, .cover-img{
  display: block;
  
  width: 100%;
  /* 維持 1:1 讓照片保持正方形*/
  aspect-ratio: 1/1;
   /* 讓照片不變形*/
  object-fit: cover;
  transition: opacity 0.2s ease-out;
}

.real-img {
  opacity: 0;
}

.cover-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  opacity: 1;
}

/* hover effect: 換圖片 */
.card:hover .real-img {
  opacity: 1;
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14362/t-shirt.png");
}

.card:hover .cover-img {
  opacity: 0;
}

/* Pagination*/
.pagination {
  padding: 48px;
  text-align: center;
  font-size: 0.5rem;
  color: #383838;
}

/* Subscription */
.subscript-wrapper {
  background-image: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14376/template.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscript {
  width: 85%;
  padding-left: 20px;
  background: white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.subscript input {
  all: unset;
  background: white;
  width: 55%;
  height: 25px;
  padding: 10px;
  border: none;
}

.subscript button {
  all: unset;
  width: 90px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  background: #000;
  height: 25px;
  padding: 10px 15px;
  border-radius: 0 25px 25px 0;
  line-height: 100%;
  text-align: center;
}

.subscript-title {
  text-align: center;
  margin: 40px 8px;
  font-weight: 700;
  font-size: 1.2rem;
}

.subscript-policy {
  font-size: 0.8rem;
  margin-top: 16px;
}

.subscript-policy a {
  text-decoration: underline;
}


/* Footer */
footer {
  background: #f0f0f0;
  padding: 8px;
  width: 100%;
  text-align: center;
}

/* Desktop screen */
@media screen and (min-width: 600px) {
  /*  Select Wrapper  */
  .select-wrapper{
    justify-content: center
  }

  .select-wrapper select {
    width: 25%;
    font-size:1rem ;
  }
  .product-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

  .subscript{
    width: calc(75% - 80px);
  }
}

@media screen and (min-width: 960px) {
    /*  Header area  */
  .navbar-toggle-label {
    display: none;
  }
  
  .nav {
    grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
  }
  
  .navbar-brand {
    grid-column: 1/2;
    justify-content: start;
    margin-left: 2rem;
  }
  .navbar-brand img{
    height: 52px;
  }
  .navbar-brand-text{
    font-size: 1.4rem;
  }

  .nav-list {
    grid-column: 2/3;
    all: unset;
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    grid-gap: 80px;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    opacity: 1;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }
  .nav-item i{
    display: none;
  }
  .navbar-tools {
    position: relative;
    grid-column: 3/4;
  }
  .navbar-tools a{
    margin-left: 8px;
  }
  .navbar-tools .search-btn {
    position: relative;
  }
  .select-wrapper select {
    width: 15%;
    margin: 8px;
  }

  .product-wrapper {
    /* 確保螢幕尺寸超過 960 時，依然保持一列 4 個商品 */
    grid-template-columns: repeat(4, 1fr);
    
  }

  .subscript-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .subscript{
    width: 50%;
  }
}