body {
  margin: 0;
  padding: 2em 1em;
}

#data-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 24px;
  border: 1px solid #eee;
  margin: 0.5em;
  border-radius: 0.25rem;
}

.user-item img {
  width: 150px;
}

button {
  color: #fff;
  cursor: pointer;
  background: #007bff;
  border: none;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-bottom: 0.5em;
}
